[alias]
        lg = Log --oneline --decorate --all --graph
        s = status -s
        st = status
[core]
        editor = nvim
        pager = cat
[init]
        templateDir = /home/{{ AGIT_USER }}/.git-template

